.App{
  margin: 0 auto;
  text-align: center;
  color: white;
  
}

.App .name{
  text-align: center;
}

.App footer{
  font-size: 13px;

}

.App h1{
  color: white;
  padding-bottom: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}
.App .center{
  max-width: 500px;
  position: fixed;
  top: 30%;
  right: 30%;
  width: 50%;
  margin: 35px auto;
}

body {
  background-image: url("/src/images/sky.jpg");
  background-size: cover;
}

.App .link{
  color: purple;
  font-weight: 500;
  text-decoration: none;
}

.App .form{
  font-family: 'Didact Gothic', sans-serif;
}

