.Weather{
    border: 1px solid gray;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 24px;
    margin: 35px auto;
    max-width: 600px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 17px;
    font-weight: 100;
    line-height: 28px;
    list-style: none;
}

.Weather .temperature{
    font-weight: bold;
    color: white;
    font-size: 70px;
    font-weight: 300;
    
}


.Weather .unit{
    position: relative;
    top: -33.5px;
    font-weight: 500;
    font-size: 23px;
    margin-left: 3px;
}

.Weather .WeatherForecast-day {
    color:white
}

.Weather .WeatherForecast-temperatures{
    color: white;
}