.Weather{
    border: 0.2px solid lightslategray;
    border-radius: 8px;
    padding: 24px;
    margin: 10px auto;
    margin-top: 30px ;
    max-width: 500px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.Weather ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.Weather .date {
    font-size: 17px;
    font-weight: 100;
    line-height: 28px;
}
.Weather .description {
    font-size: 27px;
    font-weight: 100;
    line-height: 28px;
    list-style: none;
}
.Weather .temperature{
    font-weight: bold;
    color: white;
    font-size: 90px;
    font-weight: 300;
    
}


.Weather .unit{
    position: relative;
    top: -45.5px;
    font-weight: 500;
    font-size: 23px;
    margin-left: 3px;
}

.Weather .WeatherForecast-day {
    color:white
}

.Weather .WeatherForecast-temperatures{
    color: white;
}

.Weather .WeatherInfo{
    margin-top: 10px;
}

.Weather .WeatherInfo h2{
    margin-bottom: 1px ;
    padding: 0;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;    
}



